@font-face {
    font-family: 'Main Font';
    src: url(../fonts/hollywood.ttf);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Main Font';
    color: white;
    font-style: normal;
    font-weight: 900;
    /* letter-spacing: 0.11em; */
    line-height: normal;
    overflow: hidden;
}


#app {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: radial-gradient(63.56% 152.1% at 51.88% 65.97%, #000000 0%, rgba(0, 0, 0, 0.9) 100%); */
}


.ombra {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    background: radial-gradient(50% 50% at 50% 50%, #FBFBFB 0%, #8D8686 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.125vw;
}

input {
    background: none;
}

input:focus {
    outline: none;
}

.division {
    background: #000;
    box-shadow: 0px 0px 80px 20px #000;
}

@keyframes notify {
    0% {
        transform: translateX(130%);
    }
    100% {
        transform: translateX(0%);
    }
}

.notify-enter-active {
    animation: notify 1s ease forwards;
}

.notify-leave-active {
    animation: notify 1s ease forwards reverse;
}